.user{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    outline: #F00 solid 2px;
}

.userIntro{
    display: flex;
    text-align: center;
}

.user h1{
    color: #F00;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.user a{
    text-decoration: none;
}