.user{
    box-shadow: 3px 3px #000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    outline: #F00 solid 2px;
}

.user h1{
    color: #F00;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.user a{
    text-decoration: none;
}

@media only screen and (max-width: 838px) {
    .user{
        width: auto;
    }

    .user h1{
        font-size: 1.1rem;
    }

}