.icon{
    height: 96px;       
    width: 96px;
}

.commIcon{
    height: 96px;
    width: 96px;
}

.sportIcon{
    height: 96px;
    width: 96px;
}

.instruction{
    background-color: rgba(255, 0, 0, 0.6);
    width: 100%;
}

.instruction h1{
    color: #FFF;
    display: inline-block;
    font-size: 32px;
    font-weight: 900;    
    margin-right: 8rem;    
}

.instruction p{
    color: #FFF;
    display: inline-block;        
    margin-right: 4rem;
}

.instruction num{
    color: #F02;
    display: inline-block;
    margin-left: .5rem;
    margin-right: 1.5rem;
}

.numberCircle {
    background-color: #FFF;
    width: 50px;
    line-height: 50px;
    border-radius: 25%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    border: 2px solid #FFF;
}

.instTable {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.tr {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}


