.logInButton{
    background-color: #FF0000;
    border: 2px;
    border-radius: 44px;
    color: #FFF;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0rem;
    padding: 1.75rem .5rem;
    text-align: center;
    transition: background-color .25s;
    width: 10.11rem;

}

.logInButton:hover {
    background-color: rgba(233, 65, 65, 0.774);
  }

body{
    position: relative;
    top: 60px;
}

section{
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
}

h1{
    color: #F00;
}