.countNumber{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bolder;
}

.homePage{
    background-image: url(../../resources/img/bg/baseball-field.jpg);
    background-position: center center; 
    background-size: cover;    
    position: relative;
    width: 100%;
}


.logInButtonHomePage{
    background-color: #FF0000;
    border: 2px;
    border-radius: 44px;
    box-shadow: 2px 2px #000;
    color: #FFF;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
    padding: 1.75rem .5rem;
    text-align: center;
    transition: background-color .25s;
    width: 10.11rem;
}

.logInButtonHomePage:hover {
    background-color: rgba(233, 65, 65, 0.774);
  }

.userCount{    
    background-color: rgba(150, 0, 0, 0.5);
    text-align: center;
    width: 100%;
}

section{
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
}

.homePage h1{
    color: #F00;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 2px 2px #000000;
}

.homePage p{
    color: #FFF;
    text-shadow: 1px 1px #000000;
}

@media only screen and (max-width: 838px) {
    .homePage{       
        top: 97px;
    }
}