footer{
    background-color: navy;
    bottom: 0;
    height: 5rem;
    padding: 10px;
    position: relative;
    text-align: center;
}

footer a{
    color: #FFF;
    font-weight: 800;
    text-decoration: none;
}

footer p{
    color: #FFF;
}

@media only screen and (max-width: 838px) {
    footer{       
        top: 97px;
    }
}
