footer{
    background-color: navy;
    bottom: 0;
    height: 5.5rem;
    margin-top: 100px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

footer a{
    color: #FFF;
    font-weight: 800;
    text-decoration: none;
}

footer p{
    color: #FFF;
}
