.ad{
    box-shadow: 3px 3px #000;
    display: inline-block;
    outline: #F00 solid 2px;
    width: 100%;
}

.ad h1{
    color: #F00;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.ad a{
    text-decoration: none;
}

.sportNeeded{
    height: 64px;
    width: 64px;
}
